.custom-button {
	cursor: pointer;
	outline: none;
	border: none;
	padding: 1em;
	width: 30%;
	color: white;
	border-radius: 7px;
	font-weight: bold;
	// background-color: #55d6aa;
	background-color: rgba(85, 214, 170, 1);
	font-size: 1.2rem;
	transition: all 0.5s ease-in-out;

	&:hover {
		transform: scale(1.05);
		background-color: rgba(0, 0, 0, 0.5);
	}
}
