.climb-container {
	// background-image: url("https://cdn.pixabay.com/photo/2018/11/07/08/24/pikes-peak-highway-3799979_960_720.jpg");

	// position: relative;
	// height: 500px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.climb-top-img {
		min-height: 500px;
		min-width: 100%;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		animation: fadeIn 1s ease;

		@keyframes fadeIn {
			0% {
				opacity: 0;
			}

			25% {
				opacity: 0.25;
			}

			50% {
				opacity: 0.5;
			}

			75% {
				opacity: 0.75;
			}

			100% {
				opacity: 1;
			}
		}
	}

	& p {
		color: white;
		font-size: 1.3rem;
		background-color: rgba(255, 0, 0, 0.3);
		text-align: center;
	}

	.map {
		background: orangered;
		min-height: 30rem;
		min-width: 100%;
		margin: 3% 0;
	}

	.climb-review {
		background: greenyellow;
	}
}
