.homepage-container {
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	// grid-auto-flow: dense
	grid-gap: 1%;
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	grid-template-columns: repeat(auto-fill, minmax(200px, 32%));
	justify-content: center;
	// justify-items: center;
}
